@import '../../../../styles/variables';

.files {
    display: block;
    // make 'em scrollable
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    min-height: 50vh;
    max-height: 700px;
    border-radius: $border-radius;
    border: 1px solid $brand-pink;
}

.file {
    display: block;
    cursor: pointer;
    padding: $spacer / 3;
    border-bottom: 1px solid $brand-grey-lighter;
    transition: .2s ease-out;

    &:last-child {
        border: 0;
    }

    &:hover,
    &:focus {
        background: lighten($brand-grey-lighter, 5%);
    }

    &:active {
        transition: none;
    }
}

.selected {
    composes: file;

    &,
    &:hover,
    &:focus {
        background: $brand-grey-light;
        color: $brand-white;
    }
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    min-height: 50vh;
    max-height: 700px;
    color: $brand-grey-light;
}

.error {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    color: $brand-white;
    background: $red;
    padding: $spacer / 4 $spacer / 3;
    border-radius: $border-radius;
}

.listSubmit {
    margin-top: $spacer;
    text-align: center;
}
