@import 'variables';

.searchForm {
    width: 100%;
    margin-bottom: $spacer;

    label {
        // hide visually, but expose to screen readers
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    button {
        @media screen and (min-width: $break-point--small) {
            width: 20%;
        }
    }

    :global(.input-wrap) {
        background: $brand-grey-lighter;

        &:global(.is-focused) {
            background: $brand-grey-light;
        }
    }
}

.pagination {
    width: 100%;
    text-align: center;
    padding-top: $spacer * 2;
    padding-bottom: $spacer;
}

.item {
    padding-left: $spacer;
    padding-right: $spacer;
}
