@import '../../styles/variables';

.assetFull {
    .asset__img {
        max-height: none;
    }
}

.assetFullTitle {
    font-size: $font-size-h2;
    margin-top: $spacer;
    margin-bottom: $spacer / 4;
}

.did {
    margin-top: 0;
    font-size: $font-size-base;
    color: $brand-grey-light;
    word-break: break-all;
}

.assetFullActions {
    margin-top: $spacer;
}

.tag {
    margin-left: $spacer / 3;

    &:first-child {
        margin-left: 0;
    }

    &:before {
        content: '#';
        color: $brand-grey-light;
    }
}
