@import 'variables';

.newLinks {
    margin-top: $spacer / 3;
    padding-top: $spacer / 3;
    border-top: 1px solid $brand-grey-lighter;
}

.link {
    margin-top: $spacer / 2;

    label,
    input,
    select,
    textarea,
    input::placeholder {
        font-size: $font-size-small;
    }

    label {
        margin-bottom: $spacer / 8;
    }

    input,
    select {
        height: 37px;
        min-height: 37px;
    }
}
