@import '../../styles/variables';

.searchForm {
    width: 100%;
    margin-bottom: $spacer;

    > div > div > label {
        // stylelint-disable-line selector-max-compound-selectors
        // hide visually, but expose to screen readers
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }
}

.searchActions {
    margin-top: -($spacer * $line-height);
    padding-top: $spacer / 4;
    padding-bottom: $spacer / 4;
    text-align: center;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: lighten($brand-grey-lighter, 8%);
    padding: $spacer / $line-height;
    padding-bottom: $spacer / 4;
    border-radius: $border-radius;

    :global(.form__group) {
        flex: 0 0 100%;
        margin-bottom: $spacer / 2;

        @media screen and (min-width: $break-point--small) {
            flex: 0 0 48%;
            margin-bottom: $spacer / $line-height;
        }

        @media screen and (min-width: $break-point--medium) {
            flex: 0 0 31%;
        }

        @media screen and (min-width: $break-point--large) {
            flex: 0 0 15%;
        }
    }
}

.pagination {
    width: 100%;
    text-align: center;
    padding-top: $spacer * 2;
    padding-bottom: $spacer;
}

.item {
    padding-left: $spacer;
    padding-right: $spacer;
}
