@import 'variables';

.metaLine {
    padding-top: $spacer / 2;
    padding-bottom: $spacer / 2;
    border-bottom: 1px solid lighten($brand-grey-lighter, 5%);

    @media (min-width: $break-point--small) {
        display: flex;
    }
}

.metaLabel {
    display: block;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $brand-grey-light;

    @media (min-width: $break-point--small) {
        flex: 1 1 30%;
    }
}

.metaValue {
    @media (min-width: $break-point--small) {
        flex: 1 1 70%;
    }
}

.link {
    margin-bottom: $spacer / 4;

    span {
        color: $brand-grey-light;
    }
}
