module.exports = {
    azure: {
        storageAccount: '',
        accessKey: '',
        appId: '',
        redirectHost: '',
        scope: ''
    },
    aws: {
        Auth: {
            identityPoolId: '',
            region: '',
            userPoolId: '',
            userPoolWebClientId: '',
        },
        Storage: {
            bucket: '',
            region: '',
            level: ''
        }
    }
}
