@import '../../styles/variables';

.screen {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: $spacer;

    button {
        margin: auto;
        display: block;
    }
}
